<% 
	am = "AM"
	pm = "PM"
	amHours = (5..11).to_a
	pmHours = (12..22).to_a 
%>

<% content_for :for_head do %>
	<%= stylesheet_link_tag "timetable" %>
	<title><%= @routeName %> - <%= @stop %> - <%= @destination%></title>
	<script>
		$(document).ready(function() {

			// Configure the modal to show the travel time information.
			$('#exampleModal').on('show.bs.modal', function (event) {

				$("#stopping_list").empty();

				var time = $(event.relatedTarget).attr("data-time");
				var runs = $(event.relatedTarget).attr("data-run_id");

				loadRuns($(this), time, runs);
			});

			function loadRuns(modal, time, runs) {
				var route_type_id = $("#page_data").attr("data-route_type");
				var start_stop = $("#page_data").attr("data-start_stop");
				var end_stop = $("#page_data").attr("data-end_stop");

				window.jQuery.ajax({
					url: "/times?route_type="+route_type_id+"&start_stop="+start_stop+"&end_stop="+end_stop+"&runs="+runs,
					dataType: 'json',
					success: function(result) {
						var departing = "Departing "+result.departure;

						var min_duration = result.min_duration;
						var max_duration = result.max_duration;
						var duration = "Taking ";
						if (min_duration == max_duration) {
							duration =  result.duration
						} else {
							duration = result.min_duration + " - " + result.max_duration;
						}

						var earliest_arrival = result.earliest_arrival;
						var latest_arrival = result.latest_arrival;
						
						var arriving = "Arriving ";
						if (earliest_arrival == latest_arrival) {
							arriving = arriving + "at " + result.arrival;
						} else {
							arriving = arriving + "between "+earliest_arrival+" - "+latest_arrival;
						}

						var from = $("#stop_name").text();
						var to = $("#end_stop_name").text();
						var title = result.departure+" "+from+" to "+to;

						modal.find('.modal-title').text(title);
						modal.find('.modal-body > .times-content').html(
							"<p>"+arriving+" ("+duration+")</p>");

			        	$.each(result.stops, 
							function(index, element) 
							{
								var stop = $("<li>", { text: element});
								$("#stopping_list").append(stop);
							}
						);
					}
				});
			}
		});
	</script>
<% end %>

<% 
	def print_times(amPm, hours, dayModel)
%>
		<tr><td class="<%= @hourClass %> amPm"><%= amPm %></td><td class="minutes"/></tr>
<%
		hours.each do |hour|
			style = ""
			if(dayModel.last_hour(hour))
				style = "border-bottom: 1px solid black;"
			end
%>
			<tr>
				<td class="<%= @hourClass %>" style="<%= style %>" > <%= dayModel.display_hour(hour)%> </td>
				<td class="minutes">
<%
					minutes = dayModel.minutes_for_hour(hour)
					minutes.each do |minute|
%>
						<span class="minutes_span" data-toggle="modal" data-target="#exampleModal" class="modal_link" data-time="<%= dayModel.display_hour(hour)%>:<%= minute %><%= amPm %>" data-run_id="<%= dayModel.runForTime(hour, minute) %>"><%= minute %></span>
<%				
					end
%>
				</td>
			</tr>
<%
		end
	end	
%>

<% 
	def noHolidays()
%>
	<div class="publicHoliday" style="border:0">	</div>
<%
	end
%>

<% 
	def printHolidays()
%>
	<div class="publicHoliday">
		<div class="day">Public Holidays in the next week</div>
		<% @publicHolidays.each{ |value| 
		# key = date
		# value[0] = Holiday name
		# value[1] = timetable in effect
			%>
			<div style="padding:2px;">
				<p style="margin:2px"><%= value[0] %> (<%= value[1].strftime("%A, %B %e %Y") %>): <span class="holidayTimetable"><%= value[2] %> timetable</span></p></div>
		<% } %>
	</div>
<%
	end
%>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"> </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
<!-- 				<div class="loading">
					<i class="fa fa-spinner fa-spin" style="font-size:48px"></i>
				</div> -->
				<div class="times-content">
				</div>
				<a data-toggle="collapse" href="#stopping_at" role="button" aria-expanded="false" aria-controls="collapseExample">
					Stopping at...
				</a>
				<div id="stopping_at" class="collapse"">
					<div class="card card-body pre-scrollable" style="height:150px; overflow:auto;">
						<ul id="stopping_list" class="list-unstyled stopping_list">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="page_data" style="display:none" 
	data-route_type="<%= @routeTypeId %>"
	data-start_stop="<%= @stopId %>"
	data-end_stop="<%= @end_stop_id %>">

</div>

<table class="titleTable">
	<tr>
		<td colspan=2 class="<%= @stopClass %>">
			<div class="wrapper">
				<span class="ventura-span"><%= image_tag @iconImage, class: "icon" %></span>
				<%= image_tag "ptv white icon.png", class: "icon" %>
			</div>
		</td>
	</tr>
	<tr><td class="<%= @stopClass %>" colspan=2><span id="stop_name"><%= @stop %></span> to <span id="end_stop_name"><%= @end_stop %></span></td></tr>
	<tr><td class="route"><%= @routeName %></td><td class="destination"><%= @destination %></td></tr>
</table>
<!-- Inset the body content 10px from the titles -->
<div class="main-content">

<!-- Public Holidays: For each public holiday print the name, date and timetable in effect-->
<!-- Are then any public holidays in the next week? If so, list them and what timetable is in effect -->

<% 
	if @has_public_holiday
		printHolidays()
	else 
		noHolidays()
	end 
%>

<!-- Monday to Friday -->
	<div class="mondayFriday">
		<table class="times">
			<tr class="day"><td colspan=2 style="padding: 2px;"><%= @dayViewModelMF.name %></td></tr>
			<% print_times(am, amHours, @dayViewModelMF ) %>
			<% print_times(pm, pmHours, @dayViewModelMF ) %>
		</table>
	</div>

<!-- Saturday -->
	<div class="saturday,day,weekend">
		<table class="times">
			<tr class="day"><td colspan=2 style="padding: 2px;"><%= @dayViewModelSAT.name %></td></tr>
			<% 
				print_times(am, amHours, @dayViewModelSAT)
				print_times(pm, pmHours, @dayViewModelSAT)
			%>
		</table>
	</div>

<!-- Sunday -->
	<div class="sunday,day,weekend">
		<table class="times">
			<tr class="day"><td colspan=2 style="padding: 2px;"><%= @dayViewModelSUN.name %></td></tr>
			<% 
				print_times(am, amHours, @dayViewModelSUN)
				print_times(pm, pmHours, @dayViewModelSUN)
			%>
		</table>
	</div>
<!-- Service Information -->
	<div class="serviceInformation">
		<div class="day">Service Information</div>
		<div><p style="margin:2px">All services are operated by wheelchair accessible vehicles (other than exceptional circumstances)</p>
<p style="margin:2px">(1) Saturday timetable operates on all public holidays except Good Friday and Christmas Day<br/>
(2) Sunday timetable operates on Good Friday and Christmas Day<br/>
All times are subject to alteration without notice.</p>
		</div>
	</div>
	<div class="customerInformation">
		<div class="day">Customer Information</div>
		<div style="padding:2px;"><p style="margin:2px">For more information or to give feedback visit
<span class="bold-text">ptv.vic.gov.au</span> or call <span class="bold-text">1800 800 007</span></p>
<p style="margin:2px">Effective as of 27 August 2017</p></div>
	</div>
	<div class="traffic day">These times are subject to road and traffic conditions
	</div>
</div>