<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" 
    	content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Easily find any timetable for Melbourne public transport. Metro trains, Yarra trams, Buses and V Line are all supported - AND IT'S EASY!"/>
	<meta name="google-site-verification" content="Ggj5UGkcxNUtdVyWK3156P_PE0GLBf2zqsaKF1bffxc" />
	<%= favicon_link_tag 'easyPTVicon.png' %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" 
		href="//fonts.googleapis.com/css?family=Lato" />
	<link rel="stylesheet" 
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
		integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" 
		crossorigin="anonymous">

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" 
		integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script 
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" 
		integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" 
		crossorigin="anonymous"></script>

	<% if content_for? :for_head %>
    	<%= yield :for_head %>
	<% end %>
	
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<script>
		$(function() {
			var recent_dropdown = $("#recent_searches");
			recent_dropdown.empty({});

			// load the recent searches from the cookie.
			$.ajax({
				url: "/recent",
				dataType: 'json',
				success: function(result) {
					var direction; // Do we need this? I don't think so.
					$.each(result, function(index, element) {
						var link = $("<a>", {text:element.title});
						link.attr("href", element.url);
						link.attr("class", "dropdown-item text-secondary bg-light");
						recent_dropdown.append(link);
					});
				}
			});
		});
	</script>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-light bg-secondary">
		<a class="navbar-brand" href="/">
			<%= image_tag "easyPTV.png", style: "width:150px;" %>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-light" id="navbarNav">
			<form action="/" style="padding-right: 5px;">
				<button class="btn btn-primary">Search</button>
			</form>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" 
				  	type="button" 
				  	id="dropdownMenuButton" data-toggle="dropdown" 
				  	aria-haspopup="true" aria-expanded="false">
						Recent
				</button>
				<div id="recent_searches" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<!-- populated by ajax -->
				</div>
			</div>
		</div>
		<form action="/about"><button class="btn btn-success">About</button></form>
	</nav>

	<% if cookies && cookies['cookie_eu_consented'] != 'true' %>
	<div class="cookies-eu js-cookies-eu container card text-white bg-dark mb-3">
    	<div class="row align-items-center">
			<div class="col-md-10">
				Cookies are used to remember your recent searches. 
				By using this site, you agree to using cookies
			</div>
		    <div class="col-md-2">
		    	<button class="cookies-eu-ok js-cookies-eu-ok btn btn-primary">Ok</button>
    		</div>
    	</div>
	</div>
	<% end %>

	<%= yield %>

</body>
</html>
